.button {
    cursor: pointer;
    border: none;
    background: #00DA5A;
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    transition:
      background 300ms,
      transform 200ms;
    font-weight: 600;
  }
  
  .button__text {
    position: absolute;
    inset: 0;
    animation: text-rotation 8s linear infinite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-inline: 2px;
    > span {
      position: absolute;
      transform: rotate(calc(19deg * var(--index)));
      inset: 0;
    }
  }
  
  .button__circle {
    position: relative;
    width: 25px;
    height: 25px;
    overflow: hidden;
    background: #fff;
    color: #7808d0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button__icon--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover {
    background: #000;
    transform: scale(1.05);
  }
  
  .button:hover .button__icon {
    color: #000;
  }
  
  .button:hover .button__icon:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
  }
  
  @keyframes text-rotation {
    to {
      rotate: 360deg;
    }
  }
  